#main-header{
    text-align: left;
    background-image: url('image.png');
    background-repeat: no-repeat;
    color:white;
    background-size: cover;
    padding:50px;
    font-size:40px;
    font-style:italic;
    border-radius: 25px;
}

#instruction-text{
    color:white;
    font-size:32px;
}

#user-input {
    width: 400px;
    padding: 90px;
    background-color:blue;
    margin: 0;
    border-radius: 25px;
    align-content: center;
    margin: auto;
}


#pdf-input{
    border-radius: 25px;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
  
.left {
    left: 0;
    /*background-color: #111;*/
}
  
.right {
    right: 0;
    /*background-color: red;*/
}