body{
    background-image: url('contract_photo.png');
    background-size: cover;
}

#main-header{
    text-align: left;
    background-image: url('image.png');
    background-repeat: no-repeat;
    color:rgb(47, 47, 219);
    background-size: cover;
    padding:50px;
}

#website-name{
    font-size:70px;
    font-style:italic;
    text-shadow: 2px 2px 4px #000000;
}


#motivation_text{
    color:white;
    font-size:30px;
    font-style:italic;
}

#instruction_text{
    color:white;
    font-size:22px;
}

div {
    width: 1000px;
    padding: 50px;
    background-color:rgb(47, 47, 219);
    margin: 0;
    align-content: center;
    margin: auto;
    border-radius:25px;
    box-shadow: 2px 2px 4px #000000;
}

.hide_file {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
}

#submit_button{
    box-shadow: 2px 2px 4px #000000;
}