#main-header{
    text-align: left;
    background-image: url('image.png');
    background-repeat: no-repeat;
    color:rgb(47, 47, 219);
    background-size: cover;
    padding:50px;
}

#website-name{
    font-size:70px;
    font-style:italic;
    text-shadow: 2px 2px 4px #000000;
}


#motivation-text{
    color:white;
    font-size:30px;
    font-style:italic;
}

#instruction-text{
    color:white;
    font-size:22px;
}

#user-input {
    width: 1000px;
    padding: 50px;
    background-color:rgb(47, 47, 219);
    margin: 0;
    align-content: center;
    margin: auto;
    border-radius:25px;
    box-shadow: 2px 2px 4px #000000;
}

#submit-button{
    box-shadow: 2px 2px 4px #000000;
}

#pdf-input{
    border-radius: 25px;
}

#contract-format{
    border-radius: 35px;
    padding: 40px;
    border-color: blue;
    border-style: solid;
    border-width: 7px;
    /*rgb(191, 217, 255)*/
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
  
.left {
    left: 0;
    /*background-color: #111;*/
}
  
.right {
    right: 0;
    /*background-color: red;*/
}